.background{
    background-color: gray;
}
.logo_background {
    background-color: #58a168;
    background-image: url(https://www.freeiconspng.com/thumbs/grid-png/grid-png-hd-5.png);
    height: 150px;
}
.logo { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #f9f9f9;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px grey;
        padding-top: 20px;
        text-align: center;
    
}
.btn{
        position: relative;
        margin-top: 120px;
        margin-left: 20px;
        
        display: inline-block;
        padding: 10px 30px;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4285;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    
}
.btn2{
    position: relative;
    top: 60px;
    right: 25px;
    margin-left: 700px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.btn3{
    position: relative;
    margin-top:120px;
    margin-left: 700px;
    
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.text1.text2{
    /* position: absolute; */
        text-align: center;
        height: 40%;
        border: 1px #aaa solid;
        padding: 6px;
        color: #333;
        font-size: 12px;
        font-family: monospace;
        width: 49%;
    
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button, input, select[multiple], textarea {
    background-image: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}




